$clr1: #ff0;
$imgPath: "../img/bear";
@mixin mixin1{
	background-color:red;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
}

nav {
	background-color: grey;
	
	ul {
		text-align: center;
		li {
			display: inline-block;
			background-color: white;

			&#home {
			background-color: green;
			}

				
			a {
				text-decoration: none;
				padding: 10px 15px;
				&:hover {
					color: $clr1;
					text-decoration: none;
				}


			}
		}
	}
}

#cta {
	height: 500px;
	background-image: url($imgPath+".jpg");
	background-position: 0 50%;
}

p {
	@include mixin1;
}